:root {
  --color-base: #f8fafc;
  --color-line: #e2e8f0;
  --color-hover: #e5e7eb;
  --color-text: #0f172a;
  --color-text-dark: #475569;
  --color-accent: #3b82f6;
  --color-secondary-text: #64748b;
  --color-form: #6366f1;
  --color-input: #10b981;
  --color-todo: #f59e0b;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;

  min-height: 100dvh;
  background-color: var(--color-base);
  color: var(--color-text);
}

body.login-or-register {
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
}

main {
  padding: min(30px, 7%);
}

main p {
  color: var(--color-secondary-text);
  margin-top: 5px;
  margin-bottom: 15px;
}

i,
i::before {
  transition: all 150ms ease;
}

form {
  width: 35%;
  margin: 0 auto;
  padding: 2rem 2rem;
  background-color: var(--color-form);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

#sidebar {
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--color-base);
  border-right: 1px solid var(--color-line);
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close {
  padding: 5px;
  width: 60px;
}

#sidebar.close i {
  font-size: 1.5rem;
}

#sidebar ul {
  list-style: none;
}

#sidebar i {
  flex-shrink: 0;
  color: var(--color-text);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--color-hover);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;

    a {
      padding-left: 2em;
    }
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--color-accent);

  i {
    color: var(--color-accent);
  }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 1em;
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;
}

#toggle-btn:hover {
  background-color: var(--color-hover);
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.rotate i:last-child::before {
  transform: rotate(180deg);
}

.todo-input-container {
  position: fixed;
  bottom: 32px;

  
  left: 250px;

  
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
}

.todo-input-container > input {
  min-height: 46px;
  border: none;
  width: 75%;
  background-color: var(--color-input);
  color: var(--color-text-dark);
  padding: 1rem;
  outline: none;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border: 1px solid var(--color-line);
  border-radius: 0.5em;
  margin: 0 auto;
  width: 75%;
  background-color: var(--color-todo);
}

.btn-custom {
  background-color: var(--color-input);
  border: none;
  margin-top: 2em;
  color: var(--color-text);
  width: 100%;
}

.btn-custom:hover {
  background-color: color-mix(in srgb, var(--color-input) 80%, white);
}

.btn-custom:active {
  background-color: var(--color-input)
  
}
