<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}" />
  <title>CS50 TODO</title>
</head>

<body class="app-body">
  <nav id="sidebar">
    <ul>
      <li style="justify-content: flex-start">
        <span class="logo">CS50 Final Project</span>
      </li>

      <!-- Tasks -->
      <li class="{% if request.endpoint == 'main.home' %}active{% endif %}">
        <a href="{{ url_for('main.home') }}">
          <i class="bi bi-house-door"></i>
          <span>Tasks</span>
        </a>
      </li>

      <!-- Important -->
      <li class="{% if request.endpoint == 'main.important_todos' %}active{% endif %}">
        <a href="{{ url_for('main.important_todos') }}">
          <i class="bi bi-star-fill"></i>
          <span>Important</span>
        </a>
      </li>

      <!-- Completed -->
      <li class="{% if request.endpoint == 'main.completed_todos' %}active{% endif %}">
        <a href="{{ url_for('main.completed_todos') }}">
          <i class="bi bi-check-circle"></i>
          <span>Completed</span>
        </a>
      </li>

      <!-- Profile -->
      <li class="{% if request.endpoint == 'main.profile' %}active{% endif %}">
        <a href="{{ url_for('main.profile') }}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <!-- Logout -->
      <li>
        <a href="{{ url_for('main.logout') }}">
          <i class="bi bi-box-arrow-right"></i>
          <span>Logout</span>
        </a>
      </li>

    </ul>
  </nav>


  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content%}
    {% endblock%}
  </main>

  <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
    integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
    crossorigin="anonymous"></script>
</body>

</html>